/* CSS Document */
body{margin:0px; padding:0px; font-size:12px; background-color:#e4e4e4; line-height:20px; color:#a7a7a7;}
img{border:none;}
a{color:#8c8c8c; text-decoration:none;}
a:hover{color:#ef8100;}

#main{width:1003px; height:auto; overflow:hidden; margin:0 auto;}
#mtop{width:1003px; height:83px; margin:0 auto; background:url(../../images/hhcp/bg1.jpg) repeat-x; border-bottom:#FFF solid 1px; z-index:9; position:relative;}
#logo{width:314px; height:28px; float:left; padding-top:40px; padding-left:8px; background:url(../../images/hhcp/logo1.jpg) no-repeat bottom; }
#logo a{display:block; height:28px;}
#menu{width:630px; height:35px; float:right; padding-top:26px ; font-family:"Î¢ÈíÑÅºÚ", "ËÎÌå";}
#menu a{color:#909090; text-decoration:none; font-weight:400; float:left; display:block; width:75px; height:35px; line-height:35px; text-align:center;}
#menu a:hover{color:#4a6a9e;padding:0;margin:0px;}
#submenu{width:560px;  height:auto; clear:both; float:right; overflow:hidden; padding-top:3px; position:relative; font-family:"Î¢ÈíÑÅºÚ", "ËÎÌå"; z-index:10;padding:0;margin:0px;}
.subbg1{FILTER:alpha(opacity=60);opacity:0.6; width:110px; height:auto; background-color:#fff; display:none;}
.subbgt{height:auto; left:0px; width:110px; position:relative;}
.subbgt a{display:block; height:28px; text-align:center; line-height:28px; color:#222; text-decoration:none; border-bottom:#5f689f solid 1px; }
.subbgt a:hover{background:url(../../images/hhcp/bg2.jpg) no-repeat;}

#s1{margin-left:0px;}
#s2{margin-left:75px;}
#s3{margin-left:150px;}
#s4{margin-left:225px;}
#s5{margin-left:300px;}
#s6{margin-left:375px;}
#s7{margin-left:440px;}
.subbg2{FILTER:alpha(opacity=60);opacity:0.6; width:110px; height:auto; background-color:#fff; }


#maindiv{
	width: 1003px;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	background-color: #fff;
}
#banner{ height:273px;  overflow:hidden; }
#JINGDONGBox{position:relative; height:254px; overflow:hidden;}
#JINGDONGNumID{ margin:0px; padding:0px;}
#JINGDONGNumID li{list-style:none;float:left;width:22px;height:10px;color:#fff;text-align:center;cursor:pointer;margin-right:4px;overflow:hidden; font-size:10px; border-right:#2e2e2e solid 1px; line-height:10px; font-weight:bold; font-family:Arial, Helvetica, sans-serif;}
#JINGDONGNumID li:hover,#JINGDONGNumID li.active{color:#f39700;width:22px;height:10px;font-weight:bold; line-height:10px;}
#JINGDONGContentID li{position:relative; list-style:none; margin:0px; padding:0px; width:1003px; height:254px;}
.mask{FILTER:alpha(opacity=40);opacity:0.4;width:100%;height:44px;background-color:#000000;position:absolute;bottom:0;left:0;display:block;}
.comt{width:388px;height:20px;position:absolute;left:0;bottom:12px;font-size:14px; line-height:25px; overflow:hidden; color:#ffffff;font-weight:bold;text-indent:10px;text-align:left;}
#bannernum{height:10px; background-color:#000; padding-top:5px; padding-bottom:5px;}
.textflash{padding-top:130px; margin:0 auto;}

#container{width:983px; height:auto; margin:0 auto; background-color:#fff; padding:0px 10px; padding-top:24px;}
#c1{width:234px; height:208px; float:left;}
#c1 a{display:block; width:114px; height:23px; border:#ccc solid 1px; background-color:#f3f3f3; text-align:center; line-height:23px; color:#494949; text-decoration:none; float:left; margin-top:7px; margin-right:1px;}
#c1 a:hover{color:#ef8100;}
#lxdiv{clear:both; height:44px; background:url(../../images/hhcp/s2.jpg) no-repeat;}
#c2{width:732px; height:208px; float:right;}
#c2 a{margin:0px 1px;}
#c3{width:234px; height:180px; float:left;}
#c3title{height:50px; background:url(../../images/hhcp/s3.jpg) no-repeat;}
.more{display:block; float:right; width:26px; height:12px; margin-right:14px; margin-top:25px;}
#topnews{margin:0px; padding:0px;}
#topnews li{margin:0px; padding:0px; list-style:none; height:23px; line-height:23px; overflow:hidden;}
.topnewstitle{width:185px; overflow:hidden; float:left; text-align:left;}
.topnewstime{width:40px; float:right; text-align:right;}
#c5,#c4{float:right; width:363px; height:180px; overflow:hidden;}
#c5{background:url(../../images/hhcp/s6.jpg) no-repeat bottom; margin-right:2px;}
#c4{background:url(../../images/hhcp/s7.jpg) no-repeat bottom;}
#c5title{height:50px; background:url(../../images/hhcp/s4.jpg) no-repeat; background-position:0px 20px;}
#c4title{height:50px; background:url(../../images/hhcp/s5.jpg) no-repeat; background-position:0px 20px;}
#c5topnews{margin:0px; padding:0px; padding-top:18px;}
#c5topnews li{margin:0px; padding:0px; list-style:none; line-height:24px; width:210px; padding-left:150px; overflow:hidden;}
#c4topnews{margin:0px; padding:0px; padding-top:38px;}
#c4topnews li{margin:0px; padding:0px; list-style:none; line-height:24px; width:120px; padding-left:240px; overflow:hidden;}

#foot{width:983px; height:120px; margin:0 auto; padding-top:20px;}
#foottext{height:21px; background-color:#c9c9c9; text-align:center; line-height:21px; color:#FFF;}
#foottext a{color:#FFF;}
.ftxt1{margin-top:20px;}

.clear{font: 0px/0px sans-serif;clear: both;display: block;}
.clearfoot{clear:both; text-align:right; padding:10px;}