  <!-- <div class="clear"></div>
   <div id="foot">
    <div id="foottext">
      <a href="{APP_PATH}index.php?m=link" target="_blank">友情链接</a>
      <br />
       Powered by <strong><a href="http://www.phpcms.cn" target="_blank">PHPCMS</a></strong> <em>{get_pc_version(1)}</em> &copy; 2011 <img src="{IMG_PATH}copyright.gif"/>{tjcode()}{php echo runhook('glogal_footer')}
      </p>
    </div>
   </div>
   -->
    </div> <!-- div container -->	
  </div> <!-- div maindiv-->
</div> <!-- div main-->
</body>
</html>