 <div id="foot">
  <div id="foottext">
   <a href="{$CATEGORYS[3][url]}" title="联系我们">联系我们</a> | <a href="" title="网站地图">网站地图</a> | <a href="" title="法律公告">法律公告</a> | <a href="" title="隐私保护">隐私保护</a>
  </div>
  <div class="ftxt1">
  <strong>湖北新强信息技术工程有限公司版权所有</strong><br>
   地址：湖北省武汉市武珞路586号江天大厦1706室 邮编：430070  E-mail：newpower@newpower-hb.com.cn 蜀ICP备05017261　
  </div>

    </div> <!-- div container -->	
  </div> <!-- div maindiv-->
</div> <!-- div main-->
</div>


</body></html>
 
 