<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<link href="{CSS_PATH}hhcp/main.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
</head>
<body>
<div id="main">
  <div id="mtop">
	<div id="logo"><a href="{siteurl($siteid)}/"></a></div>

    <div align="right">
	  <img src="{IMG_PATH}hhcp/top_bb.png" width="107"  height="19" border="0" usemap="#Map"/>
        <map name="Map" id="Map">
           <area shape="rect" coords="6,2,52,18" href="/"/>
           <area shape="rect" coords="57,2,102,17" href="/en/"/>
        </map>
	</div>
	
	<script>
	function checksubmen(mid)
{
	$(".subbg1").css('display','none');
	$("#s"+mid).css('display','block');
	
}

function checkmouse()
{
    
    $(".subbg1").css('display', 'none');
}
	</script>
	
    <div id="menu">
    	{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
			<a href="{siteurl($siteid)}"><span>首页</span></a>
			{loop $data $k $r}
			 <a href="{$r[url]}" onmouseover="checksubmen('{$n}')" onmouseout="checkmouse()" ><span>{$r[catname]}</span></a>
            {/loop}
        {/pc}
		{php echo runhook('glogal_menu')}
    </div> 
	
	<div id="submenu">
	   {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
	   {php $i=1}
			{loop $data $k $r}
			 <div id="s{$i}" class="subbg1" onmouseover="checksubmen('{$i}')" onmouseout="checkmouse()"  style="display: none;">
			    <div class="subbgt">
			   	{pc:content action="category" catid="$k" num="25" siteid="$siteid" order="listorder ASC"}
			       {loop $data $r}
			        <a href="{$r[url]}">{$r[catname]}</a>
				   {/loop}	
				{/pc}
				</div>
			 </div>
			 {$i++}
            {/loop}
        {/pc}
	</div>

</div>	
	<div id="maindiv">
	  <div id="bannerswf">
	    <img src="{IMG_PATH}hhcp/slide-2.jpg" width="1003"  height="273" border="0"/>
	  </div>
	  
	 <div id="container"> 
	 </div>
	
	
  