{template "content","header"} 

<div id="container">
    <div id="c1">
    <img src="{IMG_PATH}hhcp/s1.jpg" width="234" height="84" style="margin-bottom:11px;">
    {pc:content action="category" catid="13" num="4" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			 <a href="{$r[url]}" title="{$r[catname]}" >{$r[catname]}</a>
            {/loop}
        {/pc}
	
	
	
    <div id="lxdiv"></div>
    </div>
    <div id="c2">
	
	 {pc:content action="category" catid="9" num="4" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			 <a href="{$r[url]}" title="{$r[catname]}" 
			 {if $n==4}
			  style="margin-right:0px;"
			 {/if}
			 ><img src="{$r[image]}" width="176" height="208" >
			 </a>
            {/loop}
        {/pc}

	 		
	
	
	</div>
    <div class="clear"></div>
    <div id="c3">
      <div id="c3title"><a href="{$CATEGORYS[23][url]}" class="more" title="更多新闻"></a></div>
      <ul id="topnews">
    {pc:content action="lists" catid="23" num="5" sitedid="$siteid" order="inputtime desc"}
    {loop $data $r}
		<li><div class="topnewstitle"><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></div><div class="topnewstime">{date('m-d',$r[inputtime])}</div></li>
	 {/loop}
	 {/pc}	
		
      </ul>
    </div>
    <div id="c4">
      
      <div id="c4title"><a href="{$CATEGORYS[10][url]}" class="more" title="更多关于质量保证"></a></div>
       <ul id="c4topnews">
        {pc:content action="category" catid="10" num="4" sitedid="$siteid" order="listorder desc"}
    {loop $data $r}
		<li><a href="{$r[url]}" title="{$r[catname]}">{$r[catname]}&gt;</a></li>
		{/loop}
		{/pc}
		
       </ul>
    </div>
    <div id="c5">
     
      <div id="c5title"><a href="{$CATEGORYS[24][url]}" class="more" title="更多关于企业荣誉" style="margin-right:28px;"></a></div>
      <ul id="c5topnews">
       {pc:content action="lists" catid="24" num="4" sitedid="$siteid" order="inputtime desc"}
    {loop $data $r}
	 
		<li><a href="{$r[url]}" title="{$r[title]}">{$r[title]}</a></li>
	{/loop}
{/pc}	
       </ul>
    </div>
    <div class="clear"></div>
    
{template "content","footer"}