{template "content","header_page"}

<div id="container">
	<div id="subleft">
    	<div id="sublefttitle">{if $CATEGORYS[$CAT[parentid]][parentid]==0}
	 {php $pid=$parentid;$depth=2;$cid=$catid;}
	 {else}
		{php $pid=$CATEGORYS[$CAT[parentid]][parentid];$depth=3;$cid=$parentid;}
		{/if}
		{$CATEGORYS[$pid][catname]}
		</div>
            {pc:content action="category" catid="$pid" num="20" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			 <a {if ($cid==$r[catid])} style="background-color:#d4ddee; border:#93a9d5 solid 1px;color:#0f397f;" {/if} href="{$r[url]}" title="{$r[catname]}" >{$r[catname]}</a>
            {/loop}
        {/pc}
		
    </div>
	<div id="submain">
	<div id="subtitlediv">
      <div id="newsso"></div>
      <a href="#end" class="end"><img src="{IMG_PATH}hhcp/end.jpg" width="29" height="11"></a>
      <div id="pos">首页 &gt; {catpos($cid)}</div>
    </div>
	<div class="clear"></div>
	<div id="newsdiv">
	  <div id="news_ul">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tdfootline">
      <tbody>
 {pc:content action="lists" catid="$catid" num="4" siteid="$siteid" order="inputtime desc" page="$page"}
			{loop $data $r}
	  <tr>
          <td>
          <a href="{$r[url]}" title="{$r[title]}" class="">{$r[title]}</a>
          </td>
          <td width="12%" align="left">{date('Y-m-d',$r[inputtime])}</td>
        </tr>
		 {/loop}
		 {/pc}
      
      </tbody></table>
      </div>
      </div>
	  <div id="page">
	  {$pages}
	  </div>
 
    </div>
</div>
<div class="clearfoot"><a name="end"></a><a href="#top" class="top"><img src="{IMG_PATH}hhcp/top.jpg" width="29" height="11"></a></div>

{template "content","footer"}