{template "content","header_page"}

<div id="container">
	<div id="subleft">
    	<div id="sublefttitle">{$CATEGORYS[$CAT[parentid]][catname]}</div>
		 {pc:content action="category" catid="$parentid" num="20" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			 <a {if $catid==$r[catid]} style="background-color:#d4ddee; border:#93a9d5 solid 1px;color:#0f397f;" {/if} href="{$r[url]}" title="{$r[catname]}" >{$r[catname]}</a>
            {/loop}
        {/pc}
		
    </div>
	<div id="submain">
	<div id="subtitlediv">
      <div id="subline"></div>
      <a href="#end" class="end"><img src="{IMG_PATH}hhcp/end.jpg" width="29" height="11"></a>
      <div id="pos">首页 &gt; {catpos($catid)}</div>
    </div>
	<div class="clear"></div>
	<div id="newsdiv">

	</div> 
    </div>
</div>
<div class="clearfoot"><a name="end"></a><a href="#top" class="top"><img src="{IMG_PATH}hhcp/top.jpg" width="29" height="11"></a></div>

{template "content","footer"}