{template "content","header_page"}
<div id="container">
	<div id="subleft">
    	<div id="sublefttitle">{if $CATEGORYS[$CAT[parentid]][parentid]==0}
	 {php $pid=$CATEGORYS[$catid][parentid];$depth=2;$cid=$catid;}
	 {else}
		{php $pid=$CATEGORYS[$CAT[parentid]][parentid];$depth=3;$cid=$parentid;}
		{/if}
		{$CATEGORYS[$pid][catname]}
		</div>
            {pc:content action="category" catid="$pid" num="20" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			 <a {if ($cid==$r[catid])} style="background-color:#d4ddee; border:#93a9d5 solid 1px;color:#0f397f;" {/if} href="{$r[url]}" title="{$r[catname]}" >{$r[catname]}</a>
            {/loop}
        {/pc}
		
    </div>
	<div id="submain">
	<div id="subtitlediv">
      <div id="subline"></div>
      <a href="#end" class="end"><img src="{IMG_PATH}hhcp/end.jpg" width="29" height="11"></a>
      <div id="pos">首页 &gt; {catpos($cid)}</div>
    </div>
	<div class="clear"></div>
	<div class="prolm">
	{if ($depth==3)}
	{pc:content action="category" catid="$cid" num="20" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			 <a class="prolmtitle {if $catid==$r[catid]}lmon{/if}" href="{$r[url]}" title="{$r[catname]}" >{$r[catname]}</a><span class="prolmline">|</span>
            {/loop}
        {/pc}
	{/if}
	  </div>
	  <div id="newstitle">{$title}</div>
	  <div id="newstime" style="border-bottom:#CCC solid 1px;">浏览：<span id="hits"></span>　时间：{$inputtime}</div>
	  <script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script>
	<div id="newsdiv">
	  <p align="center">
	   <image src="{$thumb}" alt="{$title}" >
	  </p>
	</div> 
    </div>
</div>
<div class="clearfoot"><a name="end"></a><a href="#top" class="top"><img src="{IMG_PATH}hhcp/top.jpg" width="29" height="11"></a></div>

{template "content","footer"}