{template "content","header_page"}
<div id="container">
  <div id="subleft">
    <div id="sublefttitle">{if $CATEGORYS[$CAT[parentid]][parentid]==0}
	 {php $pid=$CATEGORYS[$catid][parentid];$depth=2;$cid=$catid;}
	{else}
		{php $pid=$CATEGORYS[$CAT[parentid]][parentid];$depth=3;$cid=$CATEGORYS[$catid][parentid];}
		{/if}
		{$CATEGORYS[$pid][catname]}
		</div>
            {pc:content action="category" catid="$pid" num="20" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			<a {if ($r[catid]==$cid)} style="background-color:#d4ddee; border:#93a9d5 solid 1px;color:#0f397f;" {/if} href="{$r[url]}" title="{$r[catname]}" >{$r[catname]}</a>
            {/loop}
        {/pc}
    </div>
<div id="submain">
	<div id="subtitlediv">
      <div id="subline"></div>
      <a href="#end" class="end"><img src="{IMG_PATH}hhcp/end.jpg" width="29" height="11"></a>
      <div id="pos">首页 &gt; {catpos($cid)}</div>
    </div>
	<div class="clear"></div>
	 <div class="prolm">
	{if ($depth==3)}
	{pc:content action="category" catid="$cid" num="20" siteid="$siteid" order="listorder ASC"}
			{loop $data $r}
			 <a class="prolmtitle {if $catid==$r[catid]}lmon{/if}" href="{$r[url]}" title="{$r[catname]}" >{$r[catname]}</a><span class="prolmline">|</span>
            {/loop}
        {/pc}
	{/if}
	  </div>
	  {if $allow_visitor==1}
        
        <h1>{$title}</h1>
        <div id="protitle">{$title}<span class="prolmlink">[{if $depth==3}<a href="{$CATEGORYS[$cid][url]}">{$CATEGORYS[$cid][catname]}</a> - {/if}<a href="{$CATEGORYS[$catid][url]}">{$CATEGORYS[$catid][catname]}</a>]</span></div>
        
      <div id="newsdiv">
           <img src="{$thumb}" alt="{$title}">
      </div>
      
      <div id="charstitle"><img src="{IMG_PATH}hhcp/t1.jpg" width="81" height="25"></div>
	  <div id="chars">
	  {$content}
	  </div>
     
	  
    </div>
    <div class="clear"></div>
     <div id="contenttitle"><img src="{IMG_PATH}hhcp/t2.jpg" width="81" height="25"></div>
    <div id="content">
	</div>
	{else}
	<CENTER><a href="{APP_PATH}index.php?m=content&c=readpoint&allow_visitor={$allow_visitor}"><font color="red">阅读此信息需要您支付 <B><I>{$readpoint} {if $paytype}元{else}点{/if}</I></B>，点击这里支付</font></a></CENTER>
	{/if}
  </div>

{template "content","footer"}